[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
logomaker = "*"

[requires]
python_version = "3.6"
